* {
  font-family: "Jetbrains Mono NerdFont";
}

#waybar {
  /* background: #171717; */
  /* background: #0a0a0a00; */
  background-color: rgba(8,7,8,1.0);
  color: #fff;
  /* opacity: 0.85; */
  /* border: solid 1px #262626; */
  /* border: solid 2px #3b82f6; */
  border: solid 1px #26222A;
  border-radius: 5px;
}

#clock {
  color: #fff;
}

#tray {
  padding-left: 4px;
  padding-right: 8px;
}

#workspaces {
  padding-left: 8px;
}

#workspaces button:hover {
  background-color: transparent;
}

#workspaces button {
  color: #737373;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 0px;
}

#workspaces button:hover {
  background-color: #262626;
}

#workspaces button.active {
  /* color: #84cc16; */
  color: #f43f5e;
}

#window {
  color: #fff;
}

#network {
  color: #3b82f6;
  margin-right: 8px;
}

#pulseaudio {
  color: #14b8a6;
  margin-right: 4px;
}

#cpu {
  color: #0ea5e9;
  margin-right: 4px;
}

#temperature {
  color: #eab308;
  margin-right: 4px;
}

#memory {
  color: #d946ef;
  margin-right: 4px;
}

#custom-powermenu {
  color: #f43f5e;
  padding-right: 8px;
}

#custom-hyprpicker {
  padding-right: 8px;
}
