spawn-at-startup "mako"
spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
spawn-at-startup "nm-applet &"
// spawn-at-startup "waybar"
spawn-at-startup "swaybg"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "fcitx5 -d --replace"

