include "monitor.kdl"
include "autostart.kdl"
include "keymaps.kdl"
include "layout.kdl"
include "windowrules.kdl"

prefer-no-csd

input {
  keyboard {
    xkb {
      layout "us"
      variant "altgr-intl"
    }

    //enable numlock on startup
    numlock
  }
  focus-follows-mouse max-scroll-amount="20%"
}

screenshot-path "~/Pictures/Screenshots/Screenshot-%Y-%m-%d %H-%M-%S.png"

cursor {
  hide-after-inactive-ms 1000
  xcursor-theme "Vimix-cursors"
  xcursor-size 32
}
