binds {
  // Windows movement
  Mod+H { focus-column-left; }
  Mod+J { focus-window-or-workspace-down; }
  Mod+K { focus-window-or-workspace-up; }
  Mod+L { focus-column-right; }

  Mod+1 { focus-monitor-left; }
  Mod+2 { focus-monitor-right; }
  Mod+3 { focus-monitor-down; }
  Mod+4 { focus-monitor-up; }

  Mod+Shift+1 { move-column-to-monitor-left; }
  Mod+Shift+2 { move-column-to-monitor-right; }
  Mod+Shift+3 { move-window-to-monitor-down; }
  Mod+Shift+4 { move-window-to-monitor-up; }

  Mod+Shift+H { move-column-left; }
  Mod+Shift+J { move-window-to-workspace-down; }
  Mod+Shift+K { move-window-to-workspace-up; }
  Mod+Shift+L { move-column-right; }

  // Mod+F { maximize-column; }
  // Mod+Shift+F { fullscreen-window; }
  Mod+F { fullscreen-window; }
  Mod+C { center-column; }
  Mod+V { toggle-window-floating; }
  Mod+Shift+F { switch-preset-column-width; }

  Mod+WheelScrollUp { focus-column-left; }
  Mod+WheelScrollDown { focus-column-right; }

  // Mod+Less { set-column-width "-10%"; }
  // Mod+Greater { set-column-width "+10%"; }
  // Mod+Shift+Less { set-window-width "-10%"; }
  // Mod+Shift+Greater { set-window-width "+10%"; }

  // Passthrough
  Mod+P allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

  // Others
  // Mod+Shift+S { screenshot-window write-to-disk=false; }
  Mod+Print { screenshot-screen write-to-disk=false; }
  // Print { screenshot; }
  Mod+Shift+S { screenshot; }

  Mod+Shift+Slash { show-hotkey-overlay; }
  Mod+Return { spawn "kitty"; }
  Mod+R { spawn "wofi" "-n"; }
  Mod+Escape { spawn-sh "swaylock -f -c 000000"; }
  Mod+Q { close-window; }
  Mod+Shift+Q { spawn "wlogout"; }
  Mod+T { spawn "nautilus"; }
  Mod+M { spawn "~/.dotfiles/bin/toggle_mic"; }
  Mod+O repeat=false { toggle-overview; }
}

