bind {
  // Windows movement
  Mod+H { focus-column-left; }
  Mod+J { focus-window-or-workspace-down; }
  Mod+K { focus-window-or-workspace-up; }
  Mod+L { focus-column-right; }

  Mod+Shift+H { focus-monitor-left; }
  Mod+Shift+L { focus-monitor-right; }
  Mod+Shift+J { focus-monitor-down; }
  Mod+Shift+K { focus-monitor-up; }

  Mod+Ctrl+H { move-column-to-monitor-left; }
  Mod+Ctrl+L { move-column-to-monitor-right; }
  Mod+Ctrl+J { move-window-to-monitor-down; }
  Mod+Ctrl+K { move-window-to-monitor-up; }

  Mod+Left { move-column-left; }
  Mod+Down { move-window-down; }
  Mod+Up { move-window-up; }
  Mod+Right { move-column-right; }

  Mod+F { maximize-column; }
  Mod+Shift+F { fullscreen-window; }
  Mod+C { center-column; }
  Mod+V { toggle-window-floating; }

  Mod+Less { set-column-width "-10%"; }
  Mod+Greater { set-column-width "+10%"; }
  Mod+Shift+Less { set-window-width "-10%"; }
  Mod+Shift+Greater { set-window-width "+10%"; }


  // Passthrough
  Mod+P allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }


  // Others
  Mod+Shift+S { screenshot-window write-to-disk=false; }
  Mod+Print { screenshot-screen write-to-disk=false; }
  Print { screenshot; }

  Mod+Shift+Slash { show-hotkey-overlay; }
  Mod+Return { spawn "kitty"; }
  Mod+R { spawn "wofi", "-n"; }
  Mod+Escape { spawn-sh "swaylock -f -c 000000"; }
  Mod+Q { close-window; }
  Mod+Shift+Q { spawn "wlogout"; }
  Mod+T { spawn "nautilus"; }
  Mod+M { spawn "~/.dotfiles/bin/toggle_mic"; }
  Mod+O repeat=false { toggle-overview; }
}

