binds {
  // Windows movement
  Mod+H { focus-column-left; }
  Mod+J { focus-window-or-workspace-down; }
  Mod+K { focus-window-or-workspace-up; }
  Mod+L { focus-column-right; }

  Mod+1 { focus-monitor-left; }
  Mod+2 { focus-monitor-right; }
  // Mod+3 { focus-monitor-down; }
  // Mod+4 { focus-monitor-up; }
  Mod+3 { spawn "sh" "-c" "niri msg action set-window-width '66%'"; }
  Mod+4 { spawn "sh" "-c" "niri msg action set-window-width '33%'"; }

  Mod+5 { consume-window-into-column; }
  Mod+Shift+5 { expel-window-from-column; }

  Mod+6 { spawn "wpctl" "set-mute"   "@DEFAULT_AUDIO_SINK@" "toggle"; }
  Mod+7 { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"; }
  Mod+8 { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+"; }

  Mod+9 repeat=false { //toggle focused monitor scale between 1.0 and 1.5
    spawn-sh "OUTPUT=$(niri msg --json focused-output); niri msg output $(echo $OUTPUT | jq -r .name) scale $([ $(echo $OUTPUT | jq .logical.scale) = 1.0 ] && echo 1.5 || echo 1.0)"
  }

  Mod+W { toggle-column-tabbed-display; }

  Mod+Shift+1 { move-column-to-monitor-left; }
  Mod+Shift+2 { move-column-to-monitor-right; }
  Mod+Shift+3 { move-window-to-monitor-down; }
  Mod+Shift+4 { move-window-to-monitor-up; }

  Mod+Shift+H { move-column-left; }
  Mod+Shift+J { move-window-to-workspace-down; }
  Mod+Shift+K { move-window-to-workspace-up; }
  Mod+Shift+L { move-column-right; }

  Mod+Up { move-workspace-up; }
  Mod+Down { move-workspace-down; }
  Mod+Left { focus-monitor-left; }
  Mod+Right { focus-monitor-right; }

  // Mod+F { maximize-column; }
  Mod+Shift+F { fullscreen-window; }
  Mod+F { switch-preset-column-width; }
  Mod+C { center-column; }
  Mod+V { toggle-window-floating; }

  Mod+WheelScrollUp { focus-column-left; }
  Mod+WheelScrollDown { focus-column-right; }

  // Mod+Less { set-column-width "-10%"; }
  // Mod+Greater { set-column-width "+10%"; }
  // Mod+Shift+Less { set-window-width "-10%"; }
  // Mod+Shift+Greater { set-window-width "+10%"; }

  // Passthrough
  Mod+P allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

  // Others
  // Mod+Shift+S { screenshot-window write-to-disk=false; }
  Mod+Print { screenshot-screen write-to-disk=false; }
  // Print { screenshot; }
  Mod+Shift+S { screenshot; }

  Mod+Shift+Slash { show-hotkey-overlay; }
  Mod+Return { spawn "kitty"; }
  Mod+R { spawn "wofi" "-n"; }
  Mod+Escape { spawn-sh "swaylock -f -c 000000"; }
  Mod+Q { close-window; }
  Mod+Shift+Q { spawn "wlogout"; }
  Mod+T { spawn "nautilus"; }
  Mod+M { spawn "~/.dotfiles/bin/toggle_mic"; }
  Mod+O repeat=false { toggle-overview; }
  Mod+G { spawn "~/.dotfiles/bin/warp-grid"; }
}

