layout {
  gaps 5
  // center-focused-column "always"

  preset-column-widths {
    proportion 0.5
    // proportion 0.95
    proportion 1.0
  }

  default-column-width { proportion 0.5; }

  struts {
    left 64
    right 64
    // top 64
    // bottom 64
  }

  focus-ring{
    // off
    width 2
    active-color "#633663"
    inactive-color "#222222"
  }

  border {
    off
  }

  shadow {
    on
  }
}
